* {
    font: "Space Mono bold 13";

    background-color: transparent;
    text-color: #ffffff;
    margin: 0;
    padding: 0;
    spacing: 0;
    border-radius: 0px;
}

window {
    location: center;
    width: 500;

    background-color: #000000cc;
    border: 1px;
    border-color: #ffffff10;
}

inputbar {
    padding: 16px;
    spacing: 10px;
    background-color: #000000;
}

prompt,
entry,
element-icon,
element-text {
    vertical-align: 0.5;
}

prompt {
}

textbox {
    padding: 8px;
    background-color: #000000;
}

listview {
    lines: 9;
    columns: 1;
    fixed-height: false;

}

element {
    padding: 12px 16px;
    spacing: 10px;
}

element normal normal {
}

element normal urgent {
    text-color: #ff0000;
}

element normal active {
    text-color: #ff0000;
}

element alternate active {
}

element selected {
    background-color: #ffffff;
    text-color: #000000;
}

element selected active {
}

element selected normal {
}

element selected urgent {
    background-color: #ff0000;
}

element-icon {
    size: 1.2em;
}

element-text {
    text-color: inherit;
}
