window {
	background-color: rgba(0, 0, 0, 0);
}

button {
	color: #ffffff;

	background-size: 25%;
	background-position: center;
	background-repeat: no-repeat;
    	background-color: rgba(0, 0, 0, 0.7);

	border-width: 2px;
	border-color: rgba(0, 0, 0, 0);

	font-size: 36;
	font-family: "Space Mono Nerd Font";
	font-weight: bold;
	text-shadow: none;

	box-shadow: none;
}

button:hover { 
    	background-color: rgba(0, 0, 0, 0.9);
	border-color: #202020;
	font-size: 36;
}

#lock {
	background-image: image(url("icons/lock.png"));
}

#logout {
	background-image: image(url("icons/logout.png"));
}

#shutdown {
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	background-image: image(url("icons/reboot.png"));
}

